<html
        xmlns:th="https://www.thymeleaf.org/"
        lang="en">
<meta charset="UTF-8">

    <head>

    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <th> Имя </th>
                    <th> Город </th>
                    <th> Возраст </th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${personsList.empty}">
                <td colspan="2"> Пользователей нет </td>
            </tr>
            <tr th:each="person : ${personsList}">
                <td><span th:text="${person.personName"> Имя </span></td>
                <td><span th:text="${person.city"> Город </span></td>
                <td><span th:text="${person.age"> Возраст </span></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>